// Navigation Styles here

.top {
width: 100%;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: baseline;
border-bottom: 1px dashed @navigation-border;
padding: 0% 0% 2% 0%;
margin: 2% 0% 0% 0%;
    nav {
        display: flex;
        justify-content: space-evenly;
        a {
            text-decoration: none;
            color: black;
            padding-right: 4%;
        }
}
}